path.letter {
    fill-opacity: 0.992157;
    stroke-width: 0.82032;
    fill: #e6e6e6;
}

/*path.letter {*/
/*    fill-opacity: 0.992157;*/
/*    stroke-width: 0.82032;*/
/*    fill: #4a3831;*/
/*}*/
